:root {
    --height_reply: 65px;
    --height_heading: 60px;
    --background_reply: #dcdcdc;
    --message-receiver: #fff;
    --message-sender: #dcf8c6;
}

html,
body,
div,
span {
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: url("https://www.bootdey.com/img/bgy.png") no-repeat fixed center;
    background-size: cover;
    height: 100%;
}

.fa-2x {
    font-size: 1.5em;
}

.app {
    position: relative;
    overflow: hidden;
    top: 19px;
    height: calc(100% - 38px);
    margin: auto;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.app-one {
    background-color: #f7f7f7;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.side {
    padding: 0;
    margin: 0;
    height: 100%;
}

.side-one {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
}

.side-two {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    top: -100%;
    left: -100%;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;

}


.message-heading {
    padding: 10px 16px 10px 15px;
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: #eee;
    z-index: 1000;
}

.heading-avatar {
    padding: 0;
    cursor: pointer;
    flex: 1;

}

.heading-avatar-icon {
    width: auto;
    padding-right: 10px;
}

.heading-avatar-icon img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.heading-name {
    padding: 0;
    cursor: pointer;
}

.heading-name-meta {
    font-weight: 700;
    font-size: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block;
}

.heading-online {
    display: block;
    padding: 0 5px;
    font-size: 12px;
    color: #93918f;
}

.heading-compose {
    padding: 0;
    width: fit-content;
}

.heading-compose i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

.heading-dot {
    padding: 0;
    margin-left: 10px;
}

.heading-dot i {
    text-align: right;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

.searchBox {
    padding: 0;
    margin: 0;
    height: 60px;
    width: 100%;
}

.searchBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #fbfbfb;
}


/*#searchBox-inner input {
  box-shadow: none;
}*/

.searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.sideBar {
    padding: 0;
    margin: 0;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
}

.sideBar-body {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    height: 72px;
    margin: 0;
    cursor: pointer;
}

.sideBar-body:hover {
    background-color: #f2f2f2;
}

.sideBar-avatar {
    text-align: center;
    padding: 0;
}

.avatar-icon img {
    border-radius: 50%;
    height: 49px;
    width: 49px;
}

.sideBar-main {
    padding: 0;
}

.sideBar-main .row {
    padding: 0;
    margin: 0;
}

.sideBar-name {
    padding: 10px;
}

.name-meta {
    font-size: 100%;
    padding: 1%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}

.sideBar-time {
    padding: 10px;
}

.time-meta {
    text-align: right;
    font-size: 12px;
    padding: 1%;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
}

/*New Message*/

.newMessage {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    left: -100%;
}

.newMessage-heading {
    padding: 10px 16px 10px 15px;
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: #00bfa5;
    z-index: 1001;
}

.newMessage-main {
    padding: 10px 16px 0 15px;
    margin: 0;
    height: 60px;
    margin-top: 30px;
    width: 100%;
    z-index: 1001;
    color: #fff;
}

.newMessage-title {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 5px;
}

.newMessage-back {
    text-align: center;
    vertical-align: baseline;
    padding: 12px 5px;
    display: block;
    cursor: pointer;
}

.newMessage-back i {
    margin: auto;
}

.composeBox {
    padding: 0;
    margin: 0;
    height: 60px;
    width: 100%;
}

.composeBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #fbfbfb;
}

.composeBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.compose-sideBar {
    padding: 0;
    margin: 0;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 160px);
}

/*Conversation*/
.conversation {
    padding: 0;
    margin: 0;
    height: 100%;
    /*width: 100%;*/
    border-left: 1px solid rgba(0, 0, 0, .08);
    /*overflow-y: auto;*/
}

.message-body {
    padding: 10px;
    margin: 0;

    background-size: cover;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - var(--height_reply) - var(--height_heading));
}

#conversation{
    overflow-y: auto;
    gap: 10px;
}

.message-sender:hover .message-option-icon{
    opacity: 1;
}

.message-content {
    display: flex;
    gap: 10px;
}

.message-option-content {
    list-style: none;
    background: #b2b2b2;
    border-radius: 10px;
    padding-left: 0;
    width: fit-content;
    text-align: left;
    display: none;
}

.message-option-content > * {
    padding: 5px 20px 5px 10px;
    border-radius: 10px;
    margin: 0;
}

.message-option-content > *:hover {
    background-color: #ccfff7;
}

.message-content .message-main {
    max-width: 35%;
}

.message-content .message-main .message{
    padding: 10px;
    border-radius: 10px;
}


.message-receiver .message {
    background-color: var(--message-receiver);
}

.message-sender .message {
    background-color: var(--message-sender);
}

.message-receiver{
    text-align: left;
}

.message-sender{
    text-align: right;
    justify-content: end;
}

.message-option-icon{
    opacity: 0;
    cursor: pointer;
    position: relative;
}

.message-text{
    line-height: 1;
}

.message-text.redeem{
    color: #686868;
}

.message-status{
    display: block !important;
    padding: 0 5px;
}


/*Reply*/
.reply {
    height: var(--height_reply);
    width: 100%;
    background-color: var(--background_reply);
    padding: 10px 5px 10px 5px;
    margin: 0;
    z-index: 1000;
}

.reply-emojis {
    padding: 5px;
}

.reply-emojis i {
    text-align: center;
    padding: 5px 5px 5px 5px;
    color: #93918f;
    cursor: pointer;
}

.reply-recording {
    padding: 5px;
}

.reply-recording i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

.reply-send {
    padding: 5px;
}

.reply-send i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

.reply-main {
    padding: 2px 5px;
}

.reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 9px 10px;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 17px;
    height: 100%;
}

.reply-main textarea:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

@media screen and (max-width: 700px) {
    .app {
        top: 0;
        height: 100%;
    }

    .message-heading {
        height: var(--height_heading);
        background-color: #009688;
    }

    .fa-2x {
        font-size: 2.3em;
    }

    .heading-avatar {
        padding: 0;
    }

    .heading-avatar-icon img {
        height: 50px;
        width: 50px;
    }

    .heading-compose {
        padding: 5px;
    }

    .heading-compose i {
        color: #fff;
        cursor: pointer;
    }

    .heading-dot {
        padding: 5px;
        margin-left: 10px;
    }

    .heading-dot i {
        color: #fff;
        cursor: pointer;
    }

    .sideBar {
        height: calc(100% - 130px);
    }

    .sideBar-body {
        height: 80px;
    }

    .sideBar-avatar {
        text-align: left;
        padding: 0 8px;
    }

    .avatar-icon img {
        height: 55px;
        width: 55px;
    }

    .sideBar-main {
        padding: 0;
    }

    .sideBar-main .row {
        padding: 0;
        margin: 0;
    }

    .sideBar-name {
        padding: 10px 5px;
    }

    .name-meta {
        font-size: 16px;
        padding: 5%;
    }

    .sideBar-time {
        padding: 10px;
    }

    .time-meta {
        text-align: right;
        font-size: 14px;
        padding: 4%;
        color: rgba(0, 0, 0, .4);
        vertical-align: baseline;
    }

    /*Conversation*/
    .conversation {
        padding: 0;
        margin: 0;
        height: 100%;
        /*width: 100%;*/
        border-left: 1px solid rgba(0, 0, 0, .08);
        /*overflow-y: auto;*/
    }

    .message-body {
        height: calc(100% - 140px);
    }

    .reply {
        height: 70px;
    }

    .reply-emojis {
        padding: 5px 0;
    }

    .reply-emojis i {
        padding: 5px 2px;
        font-size: 1.8em;
    }

    .reply-main {
        padding: 2px 8px;
    }

    .reply-main textarea {
        padding: 8px;
        font-size: 18px;
    }

    .reply-recording {
        padding: 5px 0;
    }

    .reply-recording i {
        padding: 5px 0;
        font-size: 1.8em;
    }

    .reply-send {
        padding: 5px 0;
    }

    .reply-send i {
        padding: 5px 2px 5px 0;
        font-size: 1.8em;
    }
}